

.work_filters{
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work_item{
    font-weight: 700;
    padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.work_item.active {
  background-color: var(--color-primary); /* Change this to the color you want for the active filter */
  color: #fff; /* Change this to the color you want for the active filter text */
}


.work_item:hover{
  background-color: rgba(30, 112, 121, 0.532);
}

.work_container{
  overflow: hidden;
  display: grid;
  grid-template-columns:  1fr; /* Show 3 items in a row */
  gap: 1rem;
  width: fit-content;
}

.work_card{
    flex: 0 0 31.8%;
  transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 0.5rem;
    box-shadow: var(--shadow);
}
.work_carousel {
    display: flex;
    transition: transform 0.3s ease;
  }
.work_mask{
    background:  #6c6ce5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
}

.work_card:hover .work_mask{
    opacity: 0.8;
}

.work_category{
    color: #fff;
    background-color: rgb(210, 72, 72);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: small;
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.work_title{
    color: #fff;
    font-size:medium;
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.link_button{
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 4.5rem;
    font-size: medium;
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: 0.3s;
    opacity: 0;
}
.code_button{
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: medium;
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: 0.3s;
    opacity: 0;
}
.work_card:hover .code_button{
    opacity: 1;
}
.work_card:hover .link_button{
    opacity: 1;
}

.work_card:hover .work_title,
.work_card:hover .work_category{
    opacity: 1;
    transform: translateY(0);
}

.carousel_buttons {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  .move_button {
    margin-left: 20px;
    padding: 1rem;
    color: #fff;
    background-color: #ffd15c;
    height: 50px;
    width: 158px;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
    display: flex;
  }
  .move_button:hover {
    background-color: #151409;
  }
.Btn_image{
  height: 20px;
  width: 50px;
  padding: 0 0.4rem;
}

.Btn_text{
  padding-top: 0.1rem;
}
.Right{
  transform: rotate(180deg);
  
}

/* Add media query to adjust the number of columns on smaller devices */
@media screen and (max-width: 1024px) {
  .work_container {
    grid-template-columns: 1fr; /* Show 2 items in a row for medium devices */
  }
  .work_item {
    font-weight: 300;
    margin: 0;
  }
  .work_card {
    flex: 0 0 45%; /* Show only 2 items at a time for medium devices */
  }

  .Btn_image{
    height: 13px;
    width: 30px;
    padding-left:0px;
  }
  
  .Btn_text{
    padding-top: 0;
  }

  .move_button {
    height: 45px;
    width: 140px;
  }
  .move_button:hover {
    background-color: #ffd15c;
  }

.link_button{
    font-size: smaller;
    height: 30px;
    width: 30px;
    opacity: 1;
    bottom: 0.5rem;
    left: 2.5rem;
    line-height: 35px;
    
}
.code_button{
    font-size: smaller;
    height: 30px;
    width: 30px;
    opacity: 1;
    bottom: 0.5rem;
    left: 0.5rem;
    line-height: 35px;
}
.work_mask{
  opacity: 0.5;
}

.work_category{
  transform: translateY(0px);
}

.work_title{
  transform: translateY(-25px);
  opacity: 1;
}

}

@media screen and (max-width: 480px) {
  .work_container {
    grid-template-columns: 1fr; /* Show 1 item in a row for small devices */
  }
}