.experience_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


/* (.experience_container > div) div container inside .experience_container */
.experience_container > div{
    border-color: var(--color-primary-variant);
    box-shadow: 0px 5px 10px 0px var(--color-primary);
    padding: 2.4rem 4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition:  var(--transition);
}

.experience_container > div:hover{
    background: transparent;
    background: var(--color-bg-variant);
    cursor: default;
        transform: translateY(-10px);

}

.experience_container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary)
}

.experience_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.academic_content{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.experience_details{
    display: flex;
    gap:1rem;
}

.h5{
    margin: 5px;
}

.experience_details-icon{
    margin-top: 8px;
    color: var(--color-primary);
    transform: scale(1.5);
}

/* ============================ MEDIA QUERIES (MEDIUM DEVICES)====================== */

@media screen and (max-width:1024px){
    .experience_container{
        grid-template-columns: 1fr;
    }

    .experience_container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience_content{
        padding: 1rem;
    }
 }
 
 /* ============================ MEDIA QUERIES (SMALL DEVICES)====================== */
 
 @media screen and (max-width:600px){
    .experience_container{
        gap:1rem;
    }
    .experience_container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
    .experience_details-icon{
        margin-top: 16px;
        color: var(--color-primary);
    }
 }
 